<div section-id="{{ sectionId }}"
    class="hero-paragraphs-section py-10 lg:py-14 {% if settings.only == 'mobile' %} block lg:hidden {% elseif settings.only == 'desktop' %} hidden lg:block{% endif %}">
    {% embed 'container.common.twig' with {'class': 'w-full', 'title': settings.title, 'subtitle': settings.subtitle, 'desc': settings.desc, 'id': sectionId, 'button': settings.button, 'url': settings.url} %}
        {% block content %}
            {% if title %}
                <h3 class="text-start font-bold text-4xl lg:text-5xl text-black mb-3 lg:mb-4">{{ title }}</h3>
            {% endif %}
            {% if subtitle %}
                <h3 class="text-start font-bold text-lg lg:text-xl text-black mb-3 lg:mb-6">{{ subtitle }}</h3>
            {% endif %}
            {% if desc %}
                <p class="text-start font-arlit text-lg lg:text-xl text-[#737373] mb-3 lg:mb-6">{{ desc }}</p>
            {% endif %}
            {% if button and url %}
                <a href="{{ url }}" class="text-white bg-primary rounded-full px-6 lg:px-8 py-2 lg:py-3 font-bold text-lg lg:text-2xl">{{ button }}</a>
            {% endif %}
        {% endblock %}
    {% endembed %}
</div>

{% schema %}
{
    "name": {
    "ar": "هيرو محتوى",
    "en": "Hero paragraphs"
  },
  "icon": "fal fa-lines",
  "display": true,
  "settings": {
    "title": {
        "type": "text",
        "label": {
            "ar": "العنوان",
            "en": "Title"
        }
    },
    "subtitle": {
        "type": "text",
        "label": {
            "ar": "العنوان الفرعي",
            "en": "Subtitle"
        }
    },
    "desc": {
        "type": "textarea",
        "label": {
        "ar": "الوصف",
        "en": "Description"
      }
    },
    "button": {
        "type": "text",
        "label": {
        "ar": "عنوان الزر",
        "en": "Button text"
      }
    },
    "url": {
        "type": "text",
        "label": {
        "ar": "رابط الزر",
        "en": "Button text"
      }
    },
    "only": {
        "type": "radios",
        "label": {
            "ar": "عرض فقط على:",
            "en": "Show only on:"
        },
        "options": [
            {
                "value": "all",
                "label": {
                "ar": "جميع الاجهزة",
                "en": "all pages"
                }
            },
            {
                "value": "mobile",
                "label": {
                "ar": "الجوال فقط",
                "en": "Mobile only"
                }
            },
            {
                "value": "desktop",
                "label": {
                "ar": "اجهزة الكمبيوتر فقط",
                "en": "Desktop only"
                }
            }
        ]
    }
  }
}
{% endschema %}