<section class="newsletter-section pb-10 pt-[60px]" dir="ltr" section-id="{{ sectionId }}">
    {% embed 'container.common.twig' with {'class': 'w-full', 'title': settings.title, 'desc': settings.desc, 'placeholder': settings.placeholder, 'button': settings.button, 'disclamer': settings.disclamer} %}
        {% block content %}
        {% if title %}
            <h3 class="text-black text-center font-black text-[25px] uppercase mb-[10px] font-body"><pre class="font-body leading-[28.75px]">{{ title | raw }}</pre></h3>
        {% endif %}
        {% if desc %}
            <p class="text-black text-center text-[20px]">{{ desc }}</p>
        {% endif %}

        <form action="" class="pt-[46px] pb-5 text-center">
            <input class="border-[#516b84] border px-4 h-[50px] rounded focus:outline-none active:outline-none w-3/5" placeholder="{{ placeholder }}" type="text" name="email" id="email">
            <button class="text-white py-[9.5px] font-black text-[16px] bg-[rgb(81,107,132)] w-3/5 leading-[16px] rounded mt-4">{{ button }}</button>
        </form>
        <p class="text-black text-xs text-center w-3/5 mx-auto">{{ disclamer }}</p>
        {% endblock %}
    {% endembed %}
</section>

<style>
[section-id="{{ sectionId }}"] input:active,
[section-id="{{ sectionId }}"] input:focus {
    box-shadow: 0px 0px 5px rgb(81,107,132);
}
</style>

{% schema %}
{
  "name": {
    "ar": "النشرة البريدية",
    "en": "Newsletter"
  },
  "icon": "fal fa-newsletter",
  "display": true,
  "settings": {
    "title": {
        "type": "textarea",
        "label": {
            "ar": "العنوان",
            "en": "Title"
        }
    },
    "desc": {
        "type": "textarea",
        "label": {
            "ar": "الوصف",
            "en": "Description"
        }
    },
    "placeholder": {
        "type": "text",
        "label": {
            "ar": "تلميح خانة البريد",
            "en": "Email Placeholder"
        }
    },
    "button": {
        "type": "text",
        "label": {
            "ar": "الزر",
            "en": "Button"
        }
    },
    "disclamer": {
        "type": "textarea",
        "label": {
            "ar": "سياسة الخصوصية",
            "en": "Privacy Policy"
        }
    },
    "only": {
        "type": "radios",
        "label": {
            "ar": "عرض فقط على:",
            "en": "Show only on:"
        },
        "options": [
            {
                "value": "all",
                "label": {
                "ar": "جميع الاجهزة",
                "en": "all pages"
                }
            },
            {
                "value": "mobile",
                "label": {
                "ar": "الجوال فقط",
                "en": "Mobile only"
                }
            },
            {
                "value": "desktop",
                "label": {
                "ar": "اجهزة الكمبيوتر فقط",
                "en": "Desktop only"
                }
            }
        ]
    }
  }
}
{% endschema %}