<div section-id="{{ sectionId }}"
     class="categories-section max-w-[86rem] px-4 lg:px-0 py-14 mx-auto {% if settings.only == 'mobile' %} block lg:hidden {% elseif settings.only == 'desktop' %} hidden lg:block{% endif %}">
    {% if settings.title %}
        <h3 class="text-start font-shamel  !leading-loose font-bold text-3xl lg:text-4xl text-[#27262C]">{{ settings.title }}</h3>
    {% endif %}
    {% if settings.subtitle %}
        <h3 class="text-start font-medium text-lg lg:text-xl text-[3B3A43] mb-3 lg:mb-6">{{ settings.subtitle }}</h3>
    {% endif %}
    {% if settings.desc %}
        <p class="text-start lg:max-w-[60%] text-base lg:text-lg text-[#3B3A43] mb-3 lg:mb-6">{{ settings.desc }}</p>
    {% endif %}
    <div class="splide lg:px-2 py-6" id="section-{{sectionId}}" role="group" aria-label="Splide Basic HTML Example">
        <div class="splide__track !overflow-visible">
            <ul class="splide__list pswp-gallery pswp-gallery--single-column">
            {% for key, item in settings.items %}
                <li class="splide__slide pl-4 lg:pl-6">
                    <div class="flex flex-col w-full items-start justify-center">
                        <img class="w-full object-cover" {% if item.image %}
                            src="{{ imageUrl(item.image) }}"
                        {% else %}
                            src="{{ imageUrl(asset_url ~ 'product-img.svg') }}"
                        {% endif %} alt="" />
                        {% if item.title %}
                            <h5 class="text-start font-bold text-xl lg:text-3xl text-[#373438] mt-2 mb-1 lg:mb-2 px-1">{{ item.title }}</h5>
                        {% endif %}
                        {% if item.desc %}
                            <p class="text-start font-arlit text-sm lg:text-lg text-[#3B3A43] px-1">{{ item.desc }}</p>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  new Splide(document.getElementById('section-{{sectionId}}'), {
    type : 'slide',
    direction: 'rtl',
    perPage: 4,
    drag   : 'free',
    snap   : true,
    padding: {
      right: 0,
      left: '5.625%'
    },
    breakpoints: {
      720: {
        perPage: 2,
        padding: {
            right: 0,
            left: '22.5%'
        },
      }
    },
    arrows: false,
    pagination: false,
    autoScroll: {
      speed: 0.35,
      pauseOnHover: false,
      pauseOnFocus: false
    },
  }).mount();
});
</script>


{% schema %}
{
  "name": {
    "ar": "شريط صور طرف الشاشة",
    "en": "Window Side Slider"
  },
  "icon": "fal fa-cabinet-filing",
  "display": true,
  "settings": {
    "title": {
        "type": "text",
        "label": {
            "ar": "العنوان",
            "en": "Title"
        }
    },
    "subtitle": {
        "type": "text",
        "label": {
            "ar": "العنوان الفرعي",
            "en": "Subtitle"
        }
    },
    "desc": {
        "type": "textarea",
        "label": {
        "ar": "الوصف",
        "en": "Description"
      }
    },
    "items": {
      "type": "list",
      "noLabel": true,
      "settings_label":{
        "ar": "العناصر",
        "en": "Items"
      },
      "settings": {
        "title": {
          "type": "text",
          "label": {
            "ar": "العنوان",
            "en": "text"
          }
        },
        "desc": {
          "type": "text",
          "label": {
            "ar": "الوصف",
            "en": "Description"
          }
        },
        "image": {
          "type": "image",
          "label": {
            "ar": "الصورة",
            "en": "Image"
          },
          "info": {
            "ar": "",
            "en": ""
          }
        }
      }
    },
    "only": {
        "type": "radios",
        "label": {
            "ar": "عرض فقط على:",
            "en": "Show only on:"
        },
        "options": [
            {
                "value": "all",
                "label": {
                "ar": "جميع الاجهزة",
                "en": "all pages"
                }
            },
            {
                "value": "mobile",
                "label": {
                "ar": "الجوال فقط",
                "en": "Mobile only"
                }
            },
            {
                "value": "desktop",
                "label": {
                "ar": "اجهزة الكمبيوتر فقط",
                "en": "Desktop only"
                }
            }
        ]
    }
  }
}
{% endschema %}
