{% extends "layout.twig" %}

{% block title %} Orders {% endblock %}

{% block header %} {{ include('header.twig') }} {% endblock %}

{% block main_content %}

    <section class="account account-orders">

        {% embed 'container.common.twig' with {'class': 'w-full mt-[15px] mb-[30px] max-w-5xl'} %}
            {% block content %}
            <div class="w-full">
                <div class="p-[15px] py-8 min-h-[60px]">
                    <h1 class="font-black text-black grad-text font-shamel text-[1.4em] lg:text-[1.7em] text-start uppercase">
                        {{ locals.profile.my_account }}
                    </h1>
                </div>
            </div>
                <div class="flex">
                    <div class="flex-[1] border-e border-e-[#ececec] px-[15px] pb-[30px]">
                        <div class="w-full flex gap-[15px] items-center justify-start">
                            <p class="text-black text-base text-start">{{ customer.name }}</p>
                        </div>
                        <ul class="mt-[15px] flex flex-col">
                            <li class="transition duration-300">
                                <a class="flex justify-start items-center gap-[15px] py-2.5 font-semibold text-[12.8px] uppercase text-[#666666d9] hover:text-[#121212d9]" href="/account-profile">
                                    {{ locals.profile.title }}
                                </a>
                            </li>
                            <li class="bg-[#f8f7fe] rounded-2xl px-4 py-1.5">
                                <a class="flex justify-start items-center gap-[15px] py-2.5 font-semibold text-[12.8px] uppercase text-[#7462f4]" href="/account-orders">
                                    {{ locals.profile.orders.title }}
                                </a>
                            </li>
                            <li class="transition duration-300">
                                <a class="flex justify-start items-center gap-[15px] py-2.5 font-semibold text-[12.8px] uppercase text-[#666666d9] hover:text-[#121212d9]" href="/account-addresses">
                                    {{ locals.profile.addresses.title }}
                                </a>
                            </li>
                            <li class="transition duration-300">
                                <a class="flex justify-start items-center gap-[15px] py-2.5 font-semibold text-[12.8px] uppercase text-[#666666d9] hover:text-[#121212d9]" href="/auth/logout">
                                    {{ locals.logout }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="flex-[3] ps-[30px] pb-[30px] pe-[15px]">
                        <div class="w-full flex items-center justify-between border-b-[0.5px] border-green pb-2">
                            <p class="text-sm text-black uppercase font-bold">{{ locals.orders.id }}</p>
                            <p class="text-sm text-black uppercase font-bold">{{ locals.orders.date }}</p>
                            <p class="text-sm text-black uppercase font-bold">{{ locals.orders.status }}</p>
                            <p class="text-sm text-black uppercase font-bold">{{ locals.orders.total }}</p>
                        </div>
                        <div class="pt-6">
                        {% for order in orders %}
                            <a href="/orders/{{ order.code }}/invoice" class="w-full flex items-center justify-between px-4 py-3 border border-[#ececec] hover:border-black">
                            <p class="text-sm text-black">#{{ order.id }}</p>
                            <p class="text-sm text-black">{{ datetimeFormat(order.created_at, 'd-m-Y g:i:s A', session.lang.code) }}</p>
                            <p class="text-sm text-black">{{ order.order_status.name }}</p>
                            <p class="text-sm text-black">{{ order.order_total_string }}</p>
                            </a>
                        {% else %}
                            <p class="my-3 text-black text-center">{{ locals.orders.empty }}</p>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            {% endblock %}
        {% endembed %}
    </section>

{% endblock %}

{% block footer %} {{ include('footer.twig') }} {% endblock %}
