{% extends "layout.twig" %}

{% block title %} Profile {% endblock %}

{% block header %} {{ include('header.twig') }} {% endblock %}

{% block main_content %}

    <section class="account account-profile">

        {% embed 'container.common.twig' with {'class': 'w-full mt-[15px] mb-[30px] max-w-5xl'} %}
            {% block content %}
            <div class="w-full">
                <div class="p-[15px] py-8 min-h-[60px]">
                    <h1 class="font-black text-black grad-text font-shamel text-[1.4em] lg:text-[1.7em] text-start uppercase">
                        {{ locals.profile.my_account }}
                    </h1>
                </div>
            </div>
                <div class="flex">
                    <div class="flex-[1] border-e border-e-[#ececec] px-[15px] pb-[30px]">
                        <div class="w-full flex gap-[15px] items-center justify-start">
                            <p class="text-black text-base text-start">{{ customer.name }}</p>
                        </div>
                        <ul class="mt-[15px] flex flex-col">
                            <li class="bg-[#f8f7fe] rounded-2xl px-4 py-1.5">
                                <a class="flex justify-start items-center gap-[15px] py-2.5 font-semibold text-[12.8px] uppercase text-[#7462f4]" href="/account-profile">
                                    {{ locals.profile.title }}
                                </a>
                            </li>
                            <li class="transition duration-300">
                                <a class="flex justify-start items-center gap-[15px] py-2.5 font-semibold text-[12.8px] uppercase text-[#666666d9] hover:text-[#121212d9]" href="/account-orders">
                                    {{ locals.profile.orders.title }}
                                </a>
                            </li>
                            <li class="transition duration-300">
                                <a class="flex justify-start items-center gap-[15px] py-2.5 font-semibold text-[12.8px] uppercase text-[#666666d9] hover:text-[#121212d9]" href="/account-addresses">
                                    {{ locals.profile.addresses.title }}
                                </a>
                            </li>
                            <li class="transition duration-300">
                                <a class="flex justify-start items-center gap-[15px] py-2.5 font-semibold text-[12.8px] uppercase text-[#666666d9] hover:text-[#121212d9]" href="/auth/logout">
                                    {{ locals.logout }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="flex-[3] ps-[30px] pb-[30px] pe-[15px]">
                        {{ account_profile_template_content|raw }}
                    </div>
                </div>
            {% endblock %}
        {% endembed %}
    </section>

    <style>
        .form-group {
            display: flex;
            flex-direction: column;
        }
        .form-group label {
            font-weight: bolder;
            color: #121212;
            font-size: 14.4px;
            margin-bottom: 5px;
        }
        .form-group input {
            border: 1px solid #ddd;
            margin-bottom: 15.5px;
            color: #333;
            background: #fff;
            box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
            font-size: 0.97em;
            height: 2.507em;
            padding: 0 0.75rem;
            width: 100%;
        }
        .form-group input:hover {
            box-shadow: inset 0 -1.8em 1em 0 transparent;
        }
        .form-group input:focus, .form-group input:active {
            outline: none;
            box-shadow: 0 0 5px #ccc;
        }
        .form-group input[disabled] {
            background: #ddd;
        }
        #col-save-button .btn.btn-primary {
            background: var(--primary-color);
            color: #fff;
            border-radius: 12px;
            margin-inline-end: auto;
            padding: 0 1.2em;
            font-size: 15.5px;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 2.4em;
            max-height: 2.5em;
            margin-top: 30px;
        }
        h2 {
            color: black !important;
            font-weight: bold;
            text-transform: uppercase;
            padding-bottom: 10px;
        }
        hr {
            border-color: #f1f1f1;
        }
        #btn_profile_delete_account {
            background: #dd4242;
            color: #fff;
            border-radius: 12px;
            margin-inline-end: auto;
            padding: 0 1.2em;
            font-size: 15.5px;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 2.4em;
            max-height: 2.5em;
            margin-top: 15px;
        }
    </style>

{% endblock %}


{% block footer %} {{ include('footer.twig') }} {% endblock %}
