{% extends "layout.twig" %}

{% block title %} {{ blog.title }} {% endblock %}

{% block header %} {{ include('header.twig') }} {% endblock %}

{% block main_content %}

    <section class="blog-page pt-[15px]">
		{% embed 'container.common.twig' with
            {
                'class': 'w-full max-w-5xl',
                'blog': blog
            }
        %}
			{% block content %}
                <div class="flex w-full items-center justify-between mb-[34px] mt-12">
                    <h1 class="text-center font-shamel mx-[15px] text-[#0a0a0a] grad-text font-bold uppercase text-2xl">{{ blog.title }}</h1>
                </div>

                <article class="pb-[90px] prose">
                    {{ blog.content | raw }}
                </article>
            {% endblock %}
        {% endembed %}
    </section>

    <style>
        .blog-page a {
            background-color: var(--primary-color);
            text-decoration: none !important;
            border-radius: 12px;
            padding: 8px 28px;
            color: #fff;
        }
    </style>
{% endblock %}

{% block footer %} {{ include('footer.twig') }} {% endblock %}
