{% extends "layout.twig" %}

{% block title %}
	{{ product.name }}
{% endblock %}

{% block header %}
	{{ include('header.twig') }}
{% endblock %}
{% block top_links %}
	<script src="
		https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
		"></script>
	<link href="
		https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css
		" rel="stylesheet">
{% endblock %}

{% block main_content %}
	<section class="product-page">
		{% embed 'container.common.twig' with {
        'class': 'w-full max-w-5xl',
        'product': product,
    } %}
			{% block content %}
				<div id="notification" class="hidden">
					<p class="text-[#016e01] text-[16px] lg:text-start text-center">
						<i class="icon-checkmark inline-block"></i>
						 
						”{{ product.name }}”
						{{ locals.added_successfully }}
					</p>
				</div>
				<div class="grid grid-cols-1 lg:grid-cols-2 gap-3">
				<div>
					<section id="product-images" class="splide group mb-4" aria-label="Splide Basic HTML Example" dir="ltr">
						<div class="splide__arrows">
							<button class="splide__arrow splide__arrow--prev lg:!opacity-0 group-hover:!opacity-100 transition-opacity duration-300 !-left-px rtl:right-auto !h-full !rounded-none !w-[24px] lg:!w-[30px]">
								<svg class="flickity-button-icon text-[#111] !h-[24px] !w-[24px] lg:!h-[30px] lg:!w-[30px]" fill="currentColor" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg>
							</button>
							<button class="splide__arrow splide__arrow--next lg:!opacity-0 group-hover:!opacity-100 transition-opacity duration-300 !-right-px !h-full !rounded-none !w-[24px] lg:!w-[30px]">
								<svg class="flickity-button-icon text-[#111] !h-[24px] !w-[24px] lg:!h-[30px] lg:!w-[30px]" fill="currentColor" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg>
							</button>
						</div>
						<div class="splide__track">
							<ul class="splide__list pswp-gallery pswp-gallery--single-column">
								{% for key, image in product.selected_product.images %}
									<li class="splide__slide px-2 lg:px-4">
										<a x-data="{link: '{{ image.image.large }}'}" :href="link.replace('/thumbs', '').replace('-thumbnail-1000x1000-70', '')" target="_blank" data-pswp-width="1000" data-pswp-height="1200"  class="flex flex-col w-full items-center justify-center h-full">
											<img class="h-full w-full object-contain" src="{{ image.image.large }}" alt="">
										</a>
									</li>
								{% endfor %}
							</ul>
						</div>
					</section>
				</div>
					
					<div class="product-details pt-4">
						<h1 class="product-title font-shamel text-[1.4em] lg:text-[1.75em] font-black text-center lg:text-start text-black mb-2 lg:mb-[33.6px]">{{ product.name }}</h1>
						<div class="flex items-center justify-center lg:justify-start gap-6">
							{% if product.selected_product.formatted_sale_price %}
								<div class="text-sm font-medium text-light-400 line-through opacity-60" id="old-price">
									{{ product.selected_product.formatted_price }}
								</div>
							{% endif %}
							<div class="text-base lg:text-lg text-black font-medium text-start lg:text-center" id="price">
								{% if product.selected_product.formatted_sale_price %}
									{{ product.selected_product.formatted_sale_price }}
								{% else %}
									{{ product.selected_product.formatted_price }}
								{% endif %}
							</div>
						</div>
						
						<form id="product-form" class="w-full mt-6">
							<input id="product-id" type="hidden" value="{{ product.selected_product.id }}">
							<input id="product-quantity" type="hidden" name="quantity" value="1" />
							<div class="w-full mt-4">
								<button id="add-unavailable" type="button" class="{% if not product.selected_product.out_of_stock %}hidden {% endif %} w-full bg-[#4b9960] text-white uppercase text-[.97em] font-bolder px-[1.2em] min-h-[3.1em] text-center cursor-default">
									{{ locals.add_to_cart }}
								</button>
								
								{% if product.id == '876028ff-7970-48ec-bfb3-fc32c3cf658f' %}
								<p class="text-[#3B3A43] mb-5 text-sm lg:text-base text-center lg:text-start">
									تذكرة استثنائية بوصول كامل لجميع مزايا الحدث مع اشتراكات زد السنوية بتوفير يتجاوز 4600 ريال!
								</p>
								{% else %}
								<p class="text-[#3B3A43] mb-5 text-sm lg:text-base text-center lg:text-start">
									تحوّل لتاجر في التجزئة الحديثة وتعلّم كل ما تحتاجه للانطلاقة مع حصولك على متجر إلكتروني
								</p>
								{% endif %}

								{% if product.id == '876028ff-7970-48ec-bfb3-fc32c3cf658f' %}
								<button id="add-to-cart" type="button" style="background-image: url('https://media.zid.store/5c564f61-1c33-4b8a-ac98-96ff41867d1b/100e0e54-d3cf-4948-8058-3fe3b78a29b4.png')" class="{% if product.selected_product.out_of_stock %}hidden {% endif %}  text-white bg-cover rounded-xl px-6 lg:px-8 py-4 text-base mb-4 mx-auto lg:mx-0 flex items-center group gap-6 font-medium" onclick="productAddToCart()">
									احجز تذكرة البريميوم الآن
									<svg class="h-4 text-white transition duration-300 transform group-hover:-translate-x-1.5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
										<path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
									</svg>
								</button>
								{% else %}
								<button id="add-to-cart" type="button" class="{% if product.selected_product.out_of_stock %}hidden {% endif %}  text-white bg-primary rounded-xl px-6 lg:px-8 py-4 text-base mb-4 mx-auto lg:mx-0 flex items-center group gap-6 font-medium" onclick="productAddToCart()">
									احجز تذكرة الانطلاقة الآن
									<svg class="h-4 text-white transition duration-300 transform group-hover:-translate-x-1.5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
										<path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
									</svg>
								</button>
								{% endif %}
							</div>
						{% if product.id == '876028ff-7970-48ec-bfb3-fc32c3cf658f' %}
						<div class="mb-12">
							<img class="w-full" src="https://f.top4top.io/p_2905kal0r1.jpg" alt="">
						</div>
						{% else %}
						<div class="mb-12">
							<img class="w-full" src="https://h.top4top.io/p_2905ueffg1.jpg" alt="">
						</div>
						{% endif %}

						{% if product.id == '876028ff-7970-48ec-bfb3-fc32c3cf658f' %}
						<button id="add-to-cart" type="button" style="background-image: url('https://media.zid.store/5c564f61-1c33-4b8a-ac98-96ff41867d1b/100e0e54-d3cf-4948-8058-3fe3b78a29b4.png')" class="{% if product.selected_product.out_of_stock %}hidden {% endif %}  text-white bg-cover rounded-xl px-6 lg:px-8 py-4 text-base mb-4 mx-auto lg:mx-0 flex items-center group gap-6 font-medium" onclick="productAddToCart()">
							احجز تذكرة البريميوم الآن
							<svg class="h-4 text-white transition duration-300 transform group-hover:-translate-x-1.5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
							</svg>
						</button>
						{% else %}
						<button id="add-to-cart" type="button" class="{% if product.selected_product.out_of_stock %}hidden {% endif %}  text-white bg-primary rounded-xl px-6 lg:px-8 py-4 text-base mb-4 mx-auto lg:mx-0 flex items-center group gap-6 font-medium" onclick="productAddToCart()">
							احجز تذكرة الانطلاقة الآن
							<svg class="h-4 text-white transition duration-300 transform group-hover:-translate-x-1.5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
							</svg>
						</button>
						{% endif %}
						</form>
						{# <div class="mb-12">
							<h3 class="text-center font-shamel  !leading-loose font-bold text-3xl lg:text-4xl text-[#27262C] mb-6">الأسئلة الشائعة</h3>
							<div class="accordions flex flex-col w-full tailwind">
								<ul class="flex flex-col w-full !mb-0 !list-none ps-0">
									<li class="w-full border-t" x-data="accordion(1)">
										<h2 @click="handleClick()"
											class="flex flex-row items-center justify-between py-1 cursor-pointer">
											<span class="text-lg text-[#27262C] font-medium">سؤال</span>
											<p x-ref="plus" class="text-[25px] text-primary" style="display: block">+</p>
											<p x-ref="minus" class="text-[25px] text-primary" style="display: none">-</p>
										</h2>
										<div x-ref="tab"
											class="overflow-hidden transition-all duration-500 max-h-0">
										<div class="text-[14.4px] text-[#3B3A43] text-color-secondary !px-2 mb-[19px] !mt-0.5">
											جواب
											</div>
										</div>
									</li>
									<li class="w-full border-t" x-data="accordion(1)">
										<h2 @click="handleClick()"
											class="flex flex-row items-center justify-between py-1 cursor-pointer">
											<span class="text-lg text-[#27262C] font-medium">2222</span>
											<p x-ref="plus" class="text-[25px] text-primary" style="display: block">+</p>
											<p x-ref="minus" class="text-[25px] text-primary" style="display: none">-</p>
										</h2>
										<div x-ref="tab"
											class="overflow-hidden transition-all duration-500 max-h-0">
										<div class="text-[14.4px] text-[#3B3A43] !px-2 mb-[19px] !mt-0.5">
											222
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div> #}
					</div>
				</div>
			</div>
		{% endblock %}
	{% endembed %}
</section>

<style>
@media (max-width: 600px) {
	ul.splide__pagination li:nth-child(n+{{ product.selected_product.images | length }}) {
		display: none;
	}
}
</style>
<script>
	function accordion(idx){
		return {
			show: false,
			opener: '',
			handleClick() {
				this.show = !this.show;
				this.$refs.tab.style.maxHeight = this.show ? this.$refs.tab.scrollHeight + 'px' : '0px'
				this.$refs.plus.style.display = this.show ? 'none' : 'block'
				this.$refs.minus.style.display = this.show ? 'block' : 'none'
			}
		}
	};
</script>

{% block footer_scripts %}
    {{ product_view_scripts|raw }}
{% endblock %}
<script>
	main = new Splide('#product-images', {
		        direction: 'ltr',

arrows: true,
perPage: 1,
pagination: true
}).mount();
</script>

<script>
    async function productAddToCart(){
		await zid.store.cart.removeProducts();
        await zid.store.cart.addProduct({ formId: 'product-form' }).then(async (response) => {
            if(response.status  === 'success'){
				window.location.href= '{% if customer %}/checkout/choose-address-and-shipping{% else %}/auth/login?redirect_to=/checkout/choose-address-and-shipping{% endif %}'
                //setCartBadge(response.data.cart.products_count)
            }
        });
    }
</script>

<style>
	.splide__pagination {
		bottom: -2rem !important;
	}
	.splide__pagination__page.is-active {
		background: black !important;
		border-radius: 0 !important;
		transform: none !important;
		opacity: 1 !important;
	}
	.splide__pagination__page {
		background: transparent !important;
		border: 1px solid black !important;
		border-radius: 0 !important;
		width: 12px !important;
		height: 6px !important;
		opacity: 0.4 !important;
		margin-right: 10px !important;
		margin-left: 10px !important;
	}
	.splide__pagination__page:hover {
		opacity: 1 !important;
	}
</style>{% endblock %}{% block footer %}
{{ include('footer.twig') }}{% endblock %}
