<footer class='footer-section  border-t bg-[#802BE7] border-black/5 pt-[30px] font-body' dir="rtl">
            {% embed 'container.common.twig' with {
        'class': 'w-full max-w-5xl',
        'links_one': settings.links_one,
        'links_two': settings.links_two,
        'store': store,
        'props': settings
    } %}
        {% block content %}
        <div class="flex flex-col lg:flex-row gap-8 lg:gap-0">
          <div class="lg:flex-1 px-[15px] mb-6">
            <img class="h-[64px] ml-auto" src="https://media.zid.store/5c564f61-1c33-4b8a-ac98-96ff41867d1b/524bb57d-24aa-462f-86a1-4d27709e9e2d.svg" alt="" loading="lazy">
            <p class="text-white font-base text-center lg:text-start pt-4">
              18 -21 ديسمبر | 2م - 11م | مركز الرياض الدولي للمعارض
            </p>
          </div>
          <div class="lg:flex-1 mx-auto">
            <p class="text-white text-lg font-bold font-shamel text-center lg:text-start">روابط مهمة</p>
            <div class="flex gap-8 mt-4">
              <div class="mb-6">
                <ul class="grid grid-cols-1 gap-y-1.5">
                  {% for link in links_one %}
                    <li class="w-full leading-[25.6px] pb-1.5">
                      <a class="text-white text-base leading-[25.6px]" href="{{ link.url }}">
                        {{ link.text }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
              <div class="lg:flex-1 mb-6">
                <ul class="grid grid-cols-1 gap-y-1.5">
                  {% for link in links_two %}
                    <li class="w-full leading-[25.6px] pb-1.5">
                      <a class="text-white text-base leading-[25.6px]" href="{{ link.url }}">
                        {{ link.text }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>

          <div class="lg:flex-1">
            <p class="text-white font-bold text-lg font-shamel text-center lg:text-start">ابقى على تواصل</p>
            <div class="flex gap-2 items-center justify-center lg:justify-start">
              {% if props.social_youtube %}
                <a href="{{ props.social_youtube }}" target="_blank" class="rounded-full p-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none"><path d="M22.5401 6.94734C22.4213 6.47275 22.1794 6.03792 21.8387 5.68675C21.4981 5.33558 21.0708 5.08053 20.6001 4.94734C18.8801 4.52734 12.0001 4.52734 12.0001 4.52734C12.0001 4.52734 5.12008 4.52734 3.40008 4.98734C2.92933 5.12053 2.50206 5.37558 2.16143 5.72675C1.8208 6.07792 1.57887 6.51275 1.46008 6.98734C1.1453 8.7329 0.991319 10.5037 1.00008 12.2773C0.988863 14.0644 1.14285 15.8486 1.46008 17.6073C1.59104 18.0672 1.83839 18.4855 2.17823 18.8218C2.51806 19.1582 2.9389 19.4012 3.40008 19.5273C5.12008 19.9873 12.0001 19.9873 12.0001 19.9873C12.0001 19.9873 18.8801 19.9873 20.6001 19.5273C21.0708 19.3942 21.4981 19.1391 21.8387 18.7879C22.1794 18.4368 22.4213 18.0019 22.5401 17.5273C22.8524 15.7949 23.0064 14.0377 23.0001 12.2773C23.0113 10.4903 22.8573 8.70604 22.5401 6.94734V6.94734Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M9.75 15.5473L15.5 12.2773L9.75 9.00732V15.5473Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                </a>
              {% endif %}
              {% if props.social_twitter %}
                <a href="{{ props.social_twitter }}" target="_blank" class="rounded-full p-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none"><path d="M22.9912 4.47755C22.9913 4.30092 22.9446 4.12741 22.8558 3.97469C22.7671 3.82198 22.6394 3.69552 22.4859 3.60818C22.3324 3.52085 22.1584 3.47576 21.9818 3.47751C21.8052 3.47927 21.6322 3.5278 21.4804 3.61817C20.8951 3.96655 20.265 4.23335 19.6074 4.41117C18.6684 3.6054 17.4708 3.16447 16.2334 3.16898C14.876 3.17054 13.5723 3.69957 12.5976 4.64436C11.623 5.58915 11.0536 6.87574 11.0098 8.23246C8.33378 7.80572 5.90843 6.40899 4.19625 4.3086C4.09308 4.18343 3.96133 4.08491 3.81211 4.02135C3.66288 3.95778 3.50056 3.93103 3.33883 3.94335C3.17719 3.95666 3.02122 4.00914 2.88442 4.09626C2.74762 4.18338 2.63409 4.30251 2.55367 4.44335C2.1412 5.16316 1.9043 5.97011 1.86222 6.79866C1.82014 7.62721 1.97406 8.454 2.31148 9.2119L2.30953 9.21385C2.15788 9.30725 2.03272 9.43801 1.94603 9.5936C1.85935 9.74919 1.81403 9.92442 1.81441 10.1025C1.81257 10.2495 1.82139 10.3963 1.84078 10.542C1.94292 11.8002 2.50056 12.978 3.40914 13.8545C3.3475 13.9719 3.30988 14.1004 3.29848 14.2326C3.28708 14.3647 3.30212 14.4978 3.34273 14.624C3.73884 15.8582 4.58123 16.9001 5.70504 17.5459C4.56328 17.9874 3.33046 18.1413 2.11519 17.9941C1.89026 17.9659 1.66242 18.015 1.46904 18.1333C1.27566 18.2515 1.12822 18.432 1.0509 18.6451C0.973592 18.8582 0.970999 19.0913 1.04355 19.3061C1.1161 19.5208 1.25949 19.7046 1.45019 19.8271C3.54028 21.1733 5.97387 21.889 8.45996 21.8887C11.2792 21.9204 14.0299 21.0195 16.2842 19.3261C18.5385 17.6328 20.1699 15.2419 20.9248 12.5253C21.2778 11.342 21.4581 10.1138 21.46 8.87891C21.46 8.81348 21.46 8.7461 21.459 8.67872C21.9811 8.11565 22.3855 7.45402 22.6486 6.73262C22.9117 6.01121 23.0282 5.24454 22.9912 4.47755ZM19.6845 7.68946C19.5194 7.8848 19.4358 8.13626 19.4511 8.39161C19.4609 8.55661 19.4599 8.72261 19.4599 8.87891C19.4579 9.92245 19.3049 10.9602 19.0058 11.96C18.3893 14.2714 17.015 16.309 15.1029 17.7466C13.1908 19.1841 10.8516 19.9384 8.45996 19.8887C7.60084 19.8889 6.74468 19.788 5.90918 19.5879C6.97459 19.2446 7.97077 18.7152 8.85156 18.0244C9.01378 17.8967 9.13251 17.7219 9.19145 17.524C9.25038 17.3261 9.24664 17.1148 9.18073 16.9192C9.11483 16.7235 8.98999 16.553 8.82334 16.4311C8.65669 16.3092 8.4564 16.2418 8.24996 16.2383C7.41879 16.2254 6.62509 15.8903 6.03609 15.3037C6.18551 15.2754 6.33395 15.2402 6.48141 15.1982C6.69742 15.1368 6.88645 15.0044 7.01807 14.8224C7.14969 14.6404 7.21623 14.4194 7.20698 14.195C7.19773 13.9706 7.11324 13.7559 6.96709 13.5853C6.82095 13.4148 6.62167 13.2984 6.40133 13.2549C5.91887 13.1596 5.46487 12.9544 5.07464 12.6551C4.68441 12.3558 4.36845 11.9706 4.15133 11.5293C4.33206 11.554 4.51394 11.5693 4.69625 11.5752C4.91283 11.5785 5.12484 11.5128 5.30162 11.3876C5.47841 11.2624 5.6108 11.0843 5.67965 10.8789C5.74563 10.6717 5.74223 10.4486 5.66998 10.2434C5.59772 10.0383 5.46055 9.86233 5.27926 9.74219C4.83941 9.44916 4.4791 9.05161 4.23061 8.58515C3.98213 8.11868 3.85322 7.59787 3.85543 7.06935C3.85543 7.00295 3.85738 6.93654 3.86129 6.87111C6.10255 8.96136 9.00961 10.1936 12.0703 10.3506C12.2248 10.3567 12.3786 10.3276 12.5202 10.2655C12.6618 10.2034 12.7875 10.11 12.8877 9.9922C12.9869 9.8733 13.0571 9.73301 13.0928 9.58236C13.1286 9.43171 13.1289 9.27482 13.0937 9.12404C13.0365 8.8854 13.0073 8.64091 13.0068 8.39552C13.0077 7.54005 13.3479 6.71989 13.9528 6.11499C14.5577 5.51008 15.3779 5.16985 16.2334 5.16895C16.6735 5.16777 17.1091 5.25785 17.5127 5.4335C17.9162 5.60914 18.279 5.86655 18.5781 6.18946C18.6934 6.31354 18.8386 6.40605 18.9998 6.45819C19.161 6.51034 19.3328 6.52037 19.499 6.48735C19.9097 6.40741 20.3146 6.29974 20.7109 6.16509C20.4406 6.71806 20.0952 7.23104 19.6845 7.68946Z" fill="white"></path></svg>
                </a>
              {% endif %}
              {% if props.social_instagram %}
                <a href="{{ props.social_instagram }}" target="_blank" class="rounded-full p-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none"><path d="M17 2.52734H7C4.23858 2.52734 2 4.76592 2 7.52734V17.5273C2 20.2888 4.23858 22.5273 7 22.5273H17C19.7614 22.5273 22 20.2888 22 17.5273V7.52734C22 4.76592 19.7614 2.52734 17 2.52734Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M16 11.8972C16.1234 12.7294 15.9812 13.5794 15.5937 14.3262C15.2062 15.073 14.5931 15.6786 13.8416 16.0568C13.0901 16.4351 12.2384 16.5668 11.4077 16.4331C10.5771 16.2994 9.80971 15.9072 9.21479 15.3123C8.61987 14.7174 8.22768 13.95 8.09402 13.1194C7.96035 12.2887 8.09202 11.4371 8.47028 10.6855C8.84854 9.93401 9.45414 9.3209 10.2009 8.9334C10.9477 8.5459 11.7977 8.40375 12.63 8.52716C13.4789 8.65304 14.2648 9.04862 14.8716 9.65546C15.4785 10.2623 15.8741 11.0482 16 11.8972Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M17.5 7.02734H17.51" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                </a>
              {% endif %}
              {% if props.social_linkedin %}
                <a href="{{ props.social_linkedin }}" target="_blank" class="rounded-full p-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none"><path d="M17.5 9.52625C16.6047 9.52587 15.7233 9.74731 14.9345 10.1708C14.8626 9.98121 14.7346 9.81802 14.5677 9.7029C14.4008 9.58777 14.2027 9.52616 14 9.52625H9.99997C9.86863 9.52618 9.73856 9.55199 9.6172 9.60222C9.49584 9.65245 9.38557 9.72611 9.2927 9.81898C9.19982 9.91185 9.12617 10.0221 9.07594 10.1435C9.02571 10.2648 8.9999 10.3949 8.99997 10.5263V22.5263C8.99989 22.6576 9.02571 22.7877 9.07594 22.909C9.12616 23.0304 9.19982 23.1407 9.29269 23.2335C9.38557 23.3264 9.49584 23.4001 9.6172 23.4503C9.73856 23.5005 9.86863 23.5263 9.99997 23.5263H14C14.1313 23.5263 14.2614 23.5005 14.3827 23.4503C14.5041 23.4001 14.6144 23.3264 14.7072 23.2335C14.8001 23.1407 14.8738 23.0304 14.924 22.909C14.9742 22.7877 15 22.6576 15 22.5263V17.0263C15 16.761 15.1053 16.5067 15.2929 16.3191C15.4804 16.1316 15.7348 16.0263 16 16.0263C16.2652 16.0263 16.5195 16.1316 16.7071 16.3191C16.8946 16.5067 17 16.761 17 17.0263V22.5263C16.9999 22.6576 17.0257 22.7877 17.0759 22.909C17.1262 23.0304 17.1998 23.1407 17.2927 23.2335C17.3856 23.3264 17.4958 23.4001 17.6172 23.4503C17.7386 23.5005 17.8686 23.5263 18 23.5263H22C22.1313 23.5263 22.2614 23.5005 22.3827 23.4503C22.5041 23.4001 22.6144 23.3264 22.7072 23.2335C22.8001 23.1407 22.8738 23.0304 22.924 22.909C22.9742 22.7877 23 22.6576 23 22.5263V15.0263C22.9982 13.5681 22.4181 12.1702 21.3871 11.1392C20.356 10.1081 18.9581 9.52807 17.5 9.52625ZM21 21.5263H19V17.0263C19 16.2306 18.6839 15.4675 18.1213 14.9049C17.5587 14.3423 16.7956 14.0263 16 14.0263C15.2043 14.0263 14.4413 14.3423 13.8786 14.9049C13.316 15.4675 13 16.2306 13 17.0263V21.5263H11V11.5263H13V12.2294C13.0001 12.4366 13.0645 12.6386 13.1844 12.8076C13.3043 12.9766 13.4737 13.1042 13.6692 13.1728C13.8647 13.2415 14.0767 13.2477 14.2759 13.1906C14.4751 13.1336 14.6517 13.0161 14.7812 12.8544C15.23 12.2844 15.8456 11.8688 16.542 11.6656C17.2384 11.4624 17.9808 11.4818 18.6657 11.721C19.3506 11.9601 19.9436 12.4072 20.3621 12.9998C20.7806 13.5924 21.0036 14.3008 21 15.0263V21.5263ZM6.99997 9.52625H2.99997C2.86863 9.52618 2.73856 9.55199 2.6172 9.60222C2.49584 9.65245 2.38557 9.72611 2.2927 9.81898C2.19982 9.91185 2.12617 10.0221 2.07594 10.1435C2.02571 10.2648 1.9999 10.3949 1.99997 10.5263V22.5263C1.99989 22.6576 2.02571 22.7877 2.07594 22.909C2.12616 23.0304 2.19982 23.1407 2.29269 23.2335C2.38557 23.3264 2.49584 23.4001 2.6172 23.4503C2.73856 23.5005 2.86863 23.5263 2.99997 23.5263H6.99997C7.13131 23.5263 7.26138 23.5005 7.38274 23.4503C7.5041 23.4001 7.61437 23.3264 7.70725 23.2335C7.80012 23.1407 7.87378 23.0304 7.92401 22.909C7.97423 22.7877 8.00005 22.6576 7.99997 22.5263V10.5263C8.00005 10.3949 7.97423 10.2648 7.924 10.1435C7.87378 10.0221 7.80012 9.91185 7.70724 9.81898C7.61437 9.72611 7.5041 9.65245 7.38274 9.60222C7.26138 9.55199 7.13131 9.52618 6.99997 9.52625ZM5.99997 21.5263H3.99997V11.5263H5.99997V21.5263ZM5.01462 2.06925C4.57698 2.04306 4.13859 2.10615 3.7261 2.2547C3.31361 2.40325 2.93564 2.63414 2.61519 2.93335C2.29473 3.23255 2.03849 3.59381 1.86203 3.99515C1.68557 4.3965 1.59259 4.82954 1.58875 5.26794C1.5849 5.70635 1.67027 6.14096 1.83966 6.54534C2.00904 6.94971 2.25891 7.31541 2.57407 7.62019C2.88922 7.92497 3.26308 8.16247 3.6729 8.31823C4.08272 8.47399 4.51994 8.54477 4.95797 8.52625H4.98629C5.42509 8.55232 5.86459 8.48864 6.27795 8.3391C6.6913 8.18957 7.06983 7.95733 7.39039 7.65656C7.71096 7.3558 7.96683 6.99283 8.14238 6.58983C8.31793 6.18684 8.40946 5.75228 8.41139 5.31271C8.41332 4.87315 8.3256 4.4378 8.15359 4.03328C7.98159 3.62876 7.7289 3.26356 7.41099 2.96C7.09307 2.65643 6.7166 2.42088 6.30457 2.26772C5.89255 2.11457 5.45362 2.04704 5.01461 2.06925H5.01462ZM4.9863 6.52625H4.95797C4.78504 6.54725 4.60961 6.53103 4.44346 6.47868C4.27731 6.42633 4.12427 6.33906 3.99461 6.22272C3.86495 6.10638 3.76167 5.96366 3.69168 5.80413C3.6217 5.6446 3.58664 5.47195 3.58884 5.29776C3.58884 4.55166 4.14841 4.06924 5.01462 4.06924C5.18932 4.04595 5.36698 4.06037 5.53564 4.11153C5.70429 4.16268 5.86003 4.24938 5.99236 4.3658C6.12468 4.48221 6.23053 4.62562 6.30276 4.78638C6.37499 4.94715 6.41193 5.12152 6.4111 5.29776C6.4111 6.04385 5.85153 6.52625 4.9863 6.52625Z" fill="white"></path></svg>
                </a>
              {% endif %}
              {% if props.social_snapchat %}
                <a href="{{ props.social_snapchat }}" target="_blank" class="rounded-full p-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none"><path d="M21.9512 16.1417C21.3339 15.998 20.7518 15.7316 20.2396 15.3583C19.7274 14.985 19.2956 14.5125 18.9698 13.9689C18.8211 13.7492 18.5913 13.5976 18.3309 13.5475C18.0704 13.4973 17.8007 13.5526 17.5811 13.7013C17.3615 13.8499 17.2099 14.0798 17.1597 14.3402C17.1095 14.6006 17.1649 14.8703 17.3135 15.0899C17.933 16.0351 18.7533 16.832 19.7159 17.4239C19.5811 17.4493 19.4346 17.4738 19.2745 17.4991C18.99 17.5597 18.7322 17.7093 18.5387 17.9264C18.3452 18.1435 18.2259 18.4166 18.1983 18.7061C17.5316 18.5925 16.8507 18.5912 16.1836 18.7022C15.4643 18.861 14.7932 19.1887 14.2256 19.6583C13.6418 20.176 12.901 20.4828 12.1221 20.5294H11.8614C11.0815 20.4826 10.34 20.1752 9.7559 19.6564C9.19642 19.193 8.53569 18.8678 7.82719 18.7072C7.15137 18.5992 6.46259 18.6005 5.78719 18.7111C5.76082 18.4229 5.64376 18.1506 5.45285 17.9332C5.26194 17.7157 5.007 17.5645 4.72469 17.5011C4.56746 17.4767 4.42293 17.4522 4.29012 17.4268C4.96985 17.0336 5.57698 16.5266 6.08504 15.9278C6.3195 15.6559 6.53177 15.3656 6.71981 15.0597C6.86014 14.8349 6.90547 14.5636 6.84586 14.3053C6.78625 14.0471 6.62657 13.8231 6.4019 13.6826C6.17723 13.542 5.90596 13.4964 5.64768 13.5558C5.38941 13.6151 5.16526 13.7746 5.02449 13.9991C4.89127 14.2158 4.74141 14.4219 4.57625 14.6153C3.93716 15.4156 3.03072 15.9583 2.02352 16.1437C1.73119 16.19 1.46554 16.3406 1.27575 16.5678C1.08596 16.7949 0.98489 17.0831 0.99125 17.379C0.990914 17.563 1.03022 17.7448 1.10649 17.9122C1.42192 18.628 2.26176 19.0802 3.89066 19.3868L3.92192 19.5167C3.95024 19.6349 3.97953 19.755 4.01371 19.8644C4.09037 20.1422 4.25797 20.3863 4.4897 20.5577C4.72143 20.729 5.00393 20.8178 5.29203 20.8097C5.49559 20.8045 5.69784 20.7753 5.89457 20.7228C6.41768 20.6168 6.95509 20.6012 7.48344 20.6769C7.89778 20.7995 8.28082 21.01 8.60649 21.294C9.52581 22.053 10.67 22.4873 11.8614 22.5294H12.1221C13.3209 22.4854 14.4717 22.0467 15.3955 21.2814C15.7228 20.9966 16.1095 20.7884 16.5274 20.6721C16.7334 20.6358 16.9422 20.6181 17.1514 20.6193C17.4727 20.6188 17.7931 20.6545 18.1065 20.7258C18.3095 20.7637 18.5152 20.7849 18.7217 20.7893C19.0025 20.7968 19.2778 20.71 19.5035 20.5427C19.7292 20.3754 19.8924 20.1373 19.9668 19.8664C20.0049 19.7443 20.0342 19.6271 20.0615 19.5119L20.0928 19.3879C21.7168 19.0823 22.5596 18.633 22.8604 17.9475C22.9365 17.7986 22.9798 17.6351 22.9874 17.468C23.0121 17.1573 22.9194 16.8487 22.7275 16.6031C22.5357 16.3575 22.2586 16.1929 21.9512 16.1417ZM3.8018 11.6759C4.00641 11.7146 4.218 11.6888 4.4073 11.602C4.5966 11.5153 4.75425 11.3718 4.85844 11.1915C5.25453 11.3931 5.68891 11.5083 6.13285 11.5294C6.60387 11.5356 7.05845 11.3564 7.39848 11.0304C7.50605 10.9301 7.59017 10.8073 7.64486 10.6707C7.69955 10.5342 7.72346 10.3872 7.71488 10.2404L7.67875 9.63883C7.51495 8.45196 7.5679 7.24521 7.83504 6.07724C8.17251 5.3101 8.72878 4.65955 9.43421 4.20704C10.1396 3.75454 10.9629 3.52018 11.8009 3.5333L12.1886 3.52939C13.0258 3.51822 13.8478 3.75378 14.552 4.20669C15.2562 4.65961 15.8115 5.30984 16.1486 6.07627C16.4157 7.24521 16.4686 8.4529 16.3048 9.64072L16.295 9.80381L16.2677 10.2472C16.2622 10.3916 16.2871 10.5355 16.341 10.6697C16.3948 10.8038 16.4763 10.925 16.5802 11.0255C16.9167 11.35 17.3666 11.5304 17.8341 11.5284C18.268 11.4905 18.69 11.3664 19.0753 11.1632C19.1534 11.3411 19.2816 11.4925 19.4443 11.5988C19.6069 11.7051 19.797 11.7617 19.9913 11.7618H20.0089C20.2741 11.7571 20.5266 11.6473 20.7108 11.4565C20.8951 11.2657 20.996 11.0095 20.9913 10.7442C20.9654 10.4103 20.8379 10.0923 20.626 9.83287C20.414 9.57347 20.1278 9.38511 19.8058 9.29306C19.5712 9.19701 19.3199 9.1485 19.0664 9.15034C18.8129 9.15219 18.5624 9.20435 18.3292 9.30381C18.5044 7.94669 18.3835 6.56772 17.9747 5.26181C17.4826 4.13875 16.6703 3.18569 15.6395 2.52183C14.6086 1.85796 13.4049 1.51276 12.1788 1.52938L11.7862 1.53329C10.5633 1.51835 9.36307 1.86413 8.33553 2.52744C7.308 3.19075 6.49872 4.14216 6.00883 5.26279C5.597 6.58624 5.47706 7.98325 5.65727 9.35752C5.62309 9.34189 5.58598 9.32432 5.54594 9.30576C5.30158 9.20688 5.03939 9.15969 4.77589 9.16716C4.51239 9.17464 4.2533 9.23662 4.01494 9.34919C3.77658 9.46176 3.56412 9.62249 3.39096 9.82125C3.2178 10.02 3.08769 10.2525 3.00883 10.504C2.95886 10.7645 3.01429 11.0342 3.16295 11.2539C3.31162 11.4736 3.54137 11.6254 3.8018 11.6759Z" fill="white"></path></svg>
                </a>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="flex items-center justify-center gap-8 mt-8">
          <div>
            <p class="text-white font-bold text-base font-shamel text-center">السجل التجاري</p>
            <p class="text-white text-sm leading-[25.6px] text-center">1010365366</p>
          </div>
          <div>
            <p class="text-white font-bold text-base font-shamel text-center">الرقم الضريبي</p>
            <p class="text-white text-sm leading-[25.6px] text-center">300827827900003</p>
          </div>
        </div>
        <div class="py-[15px] mt-4 flex items-center justify-center">
          <p class="text-xs text-center text-white">
          زد 2023 © جميع الحقوق محفوظة
          <br/>
          شركة القدرة التقنية لتقنية المعلومات والاتصالات
          </p>
        </div>
        {% endblock %}
    {% endembed %}
</footer>


{% schema %}
{
  "name": {
    "ar": "اسفل المتجر",
    "en": "Footer"
  },
  "icon": "fa fa-square",
  "display": true,
  "settings": {
    "links_one": {
      "type": "list",
      "label": {
        "ar": "قائمة الروابط",
        "en": "Links menu"
      },
      "icon": "font_awesome",
      "settings": {
        "text": {
          "type": "text",
          "label": {
            "ar": "النص",
            "en": "Text"
          }
        },
        "url": {
          "type": "url",
          "label": {
            "ar": "الرابط",
            "en": "Link"
          },
          "info": {
            "ar": "في حال كان الحقل فارغا لن يتم الانتقال للرابط عند الضغط",
            "en": "This is an info text sample here"
          }
        }
      }
    },
    "links_two": {
      "type": "list",
      "label": {
        "ar": "قائمة الروابط",
        "en": "Links menu"
      },
      "icon": "font_awesome",
      "settings": {
        "text": {
          "type": "text",
          "label": {
            "ar": "النص",
            "en": "Text"
          }
        },
        "url": {
          "type": "url",
          "label": {
            "ar": "الرابط",
            "en": "Link"
          },
          "info": {
            "ar": "في حال كان الحقل فارغا لن يتم الانتقال للرابط عند الضغط",
            "en": "This is an info text sample here"
          }
        }
      }
    },
    "social": {
      "type": "fieldset",
	    "label": {
        "ar": "حسابات التواصل الاجتماعي",
        "en": "Social Media"
      },
	    "icon": "font_awesome",
	    "expandable": true,
	    "settings": {
        "instagram": {
          "type": "text",
          "label": {
            "ar": "انستغرام",
            "en": "Instagram"
          }
        },
        "twitter": {
          "type": "text",
          "label": {
            "ar": "تويتر",
            "en": "Twitter"
          }
        },
        "youtube": {
          "type": "text",
          "label": {
            "ar": "يوتيوب",
            "en": "Youtube"
          }
        },
        "linkedin": {
          "type": "text",
          "label": {
            "ar": "لينكدان",
            "en": "Linkedin"
          }
        },
        "snapchat": {
          "type": "text",
          "label": {
            "ar": "سناب شات",
            "en": "Snapchat"
          }
        }
      }
    }
  }
}
{% endschema %}