<header class='header-section'>
    <div class="flex flex-col">
        {% include 'announcement-bar.header.twig' with { 'props': settings, 'class': 'order-1 lg:order-none' } %}
        {% embed 'container.common.twig' with {'class': 'w-full'} %}
            {% block content %}
              <div class="main-header flex items-center justify-between py-3 lg:py-4 lg:px-6">
                  <div class="left-header ml-5" x-data="sideMenu()">
                    <div class="header-button block lg:hidden" @click="toggle()">
                      <i class="icon-menu text-primary text-3xl"></i>
                    </div>
                    <div x-cloak class="bg-black/60 fixed inset-0 z-40" x-show="open" @click="open = false" x-transition:enter="transition ease-out duration-300" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition ease-in duration-300" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0"></div>
                    <div class="fixed top-0 rtl:left-0 ltr:right-0 h-[40px] w-[40px] z-50" x-show="open" @click="open = false" x-transition:enter="transition ease-out duration-300" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition ease-in duration-300" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0">
                        <button class="rtl:mr-auto ltr:ml-auto p-1.5 text-white" @click="open = false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                        </button>
                    </div>
                    <ul x-show="open"
                      @click.away="open = false"
                      x-transition:enter="transition ease-out duration-300"
                      x-transition:enter-start="transform rtl:origin-right ltr:origin-left rtl:translate-x-full ltr:-translate-x-full"
                      x-transition:enter-end="transform rtl:origin-right ltr:origin-left translate-x-0"
                      x-transition:leave="transition ease-in duration-300"
                      x-transition:leave-start="transform rtl:origin-right ltr:origin-left ltr:translate-x-0"
                      x-transition:leave-end="transform rtl:origin-right ltr:origin-left rtl:translate-x-full ltr:-translate-x-full"
                      x-init="() => { $el.classList.remove('hidden');$el.classList.add('flex') }"
                      class="flex-col mt-2 px-2 items-start hidden rtl fixed rtl:right-0 ltr:left-0 w-[260px] h-screen top-[-8px] bg-white z-50 overflow-auto">
                      <div class="mt-[30px] mb-[15px] px-[20px] flex items-center justify-between w-full">
                          <div class="sidemenu-button">
                            {% if customer %}
                                <a href="/account-profile" class="user-button">
                                    <i class="icon-user"></i>
                                </a>
                            {% else %}
                                <a href="/auth/login" class="user-button">
                                    <i class="icon-user"></i>
                                </a>
                            {% endif %}
                          </div>
                      </div>
                      {% for menu in main_navigation_menu.items %}
                      <li class="relative py-[12px] ps-[20px] w-full rounded-xl group hover:bg-[#f8f7fe]" x-data="{open: false}" :class="{'bg-black/5': open}">
                          <div class="flex items-center justify-between w-full" dir="auto">
                            <a href="{{ menu.url }}" class="font-arlit font-normal text-[#62606f] group-hover:text-[#7462f4] active:text-[#7462f4] focus:text-[#7462f4] uppercase w-full">
                              <span x-data="{title: '{{ menu.name }}'}" x-text="title.replaceAll('6', '').replaceAll(/\s+/g, ' ')"></span>
                            </a>
                            {% if menu.items | length > 0 %}
                            <i class="icon-angle-down text-[27.9px] text-primary transform !px-5" :class="{'rotate-180': open}" @click="open = !open"></i>
                            {% endif %}
                          </div>
                          {% if menu.items | length > 0 %}
                            <ul class=" pb-[15px]" x-show="open">
                              {% for subitem in menu.items %}
                                <li class="ps-2">
                                  <a href="{{ subitem.url }}" class="py-[5px] flex items-center justify-start gap-[5px]">
                                    <img class="h-5 w-auto" x-data="headerIcons()" :src="data['{{ subitem.name | lower }}'.replaceAll('6', '').replaceAll(/\s+/g, ' ').trim()]" alt="">
                                    <span class="text-[14.4px] rtl:font-bold ltr:font-black text-black" x-data="{'title': '{{ subitem.name }}'}" x-text="title.replaceAll('6', '').replaceAll(/\s+/g, ' ').trim()"></span>
                                  </a>
                                </li>
                                {% if subitem.items | length > 0 %}
                                  {% for dsubitem in subitem.items %}
                                  <li class="ps-2">
                                    <a href="{{ dsubitem.url }}" class="py-[5px] flex items-center justify-start gap-[5px]">
                                      -
                                      <img class="h-5 w-auto" x-data="headerIcons()" :src="data['{{ dsubitem.name | lower }}'.replaceAll('6', '').replaceAll(/\s+/g, ' ').trim()]" alt="">
                                      <span class="text-[14.4px] rtl:font-bold ltr:font-black text-black" x-data="{'title': '{{ dsubitem.name }}'}" x-text="title.replaceAll('6', '').replaceAll(/\s+/g, ' ').trim()"></span>
                                    </a>
                                  </li>
                                  {% endfor %}
                                {% endif %}
                              {% endfor %}
                            </ul>
                          {% endif %}
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                  {% include 'logo.common.twig' with {'class': 'h-[48px] lg:h-[72px] w-auto'} %}
                  <div class="flex-1 right-header">
                      <div class="w-full flex justify-end gap-6">
                          <div class="header-button hidden lg:block relative group">
                            {% if customer %}
                                <button class="user-button">
                                    <i class="icon-user"></i>
                                </button>
                                <div class="top-full pt-1 absolute z-50 hidden group-hover:lg:block -end-[100px]">
                                    <ul class="bg-white border-2 border-[#c4c4c4] py-5 min-w-[260px] shadow-[1px_1px_15px_rgba(0,0,0,0.15)]">
                                      <li class="ps-[7px] ">
                                        <a href="/account-orders" class="p-2.5 flex items-center justify-start text-black font-normal text-[16px] hover:bg-black hover:bg-opacity-[0.03] gap-2.5">
                                          <img class="h-5 w-auto" src="{{ asset_url ~ 'orders.svg' }}" alt="">
                                          {{ locals.profile.orders.title }}
                                        </a>
                                      </li>
                                      <li class="ps-[7px] ">
                                        <a href="/account-addresses" class="p-2.5 flex items-center justify-start text-black font-normal text-[16px] hover:bg-black hover:bg-opacity-[0.03] gap-2.5">
                                          <img class="h-5 w-auto" src="{{ asset_url ~ 'location.svg' }}" alt="">
                                          {{ locals.profile.addresses.title }}
                                        </a>
                                      </li>
                                      <li class="ps-[7px] ">
                                        <a href="/account-profile" class="p-2.5 flex items-center justify-start text-black font-normal text-[16px] hover:bg-black hover:bg-opacity-[0.03] gap-2.5">
                                          <img class="h-5 w-auto" src="{{ asset_url ~ 'profile.svg' }}" alt="">
                                          {{ locals.profile.title }}
                                        </a>
                                      </li>
                                      <li class="ps-[7px] ">
                                        <a href="/auth/logout" class="p-2.5 flex items-center justify-start text-black font-normal text-[16px] hover:bg-black hover:bg-opacity-[0.03] gap-2.5">
                                          <img class="h-5 w-auto" src="{{ asset_url ~ 'logout.svg' }}" alt="">
                                          {{ locals.logout }}
                                        </a>
                                      </li>
                                    </ul>
                                </div>
                            {% else %}
                                <a href="/auth/login" class="user-button relative">
                                    <i class="icon-user"></i>
                                </a>
                            {% endif %}
                          </div>
                      </div>
                  </div>
              </div>
            {% endblock %}
        {% endembed %}

    </div>
    <script>
    function language(code) {
        return {
            open: false,
            current: code,
            init() {
                console.log(this.current);
            },
            change: function (code) {
                document.getElementById(code).click()
                setTimeout(() => {
                    document.getElementById('modal-select-destination-city-save').click()
                }, 200)
            }
        }
    }

    function sideMenu() {
      return {
        open: false,
        toggle() {
          this.open = !this.open
        }
      }
    }

    function headerIcons() {
      return {
        data: {}
      }
    }
    </script>
</header>


{% schema %}
{
  "name": {
    "ar": "أعلى المتجر",
    "en": "Header"
  },
  "icon": "fa fa-square",
  "display": true,
  "settings": {
    "announcement_bar": {
      "type": "fieldset",
      "label": {
        "ar": "شريط التنبيهات",
        "en": "Announcement bar"
      },
      "icon": "font_awesome",
      "expandable": true,
      "settings": {
        "display": {
          "type": "checkbox",
          "label": {
            "ar": " ",
            "en": " "
          },
          "option": {
            "ar": "إظهار",
            "en": "Display menu"
          },
          "noLabel": true
        },
        "text": {
          "type": "text",
          "label": {
            "ar": "النص",
            "en": "Text"
          }
        },
        "url": {
          "type": "url",
          "label": {
            "ar": "الرابط",
            "en": "Link"
          },
          "info": {
            "ar": "في حال كان الحقل فارغا لن يتم الانتقال للرابط عند الضغط",
            "en": "This is an info text sample here"
          }
        },
        "background_color": {
          "type": "color",
          "label": {
            "ar": "لون الخلفية",
            "en": "Text color"
          }
        },
        "text_color": {
          "type": "color",
          "label": {
            "ar": "لون النص",
            "en": "Text color"
          }
        }
      }
    }
  }
}
{% endschema %}