<!doctype html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {{ header_meta_tags | raw }}
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{{ assetUrl('zid-logo.svg') }}">
    <link rel="stylesheet" href="{{ assetUrl('style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" id="google-fonts-1-css" href="https://fonts.googleapis.com/css?family=Questrial%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CIBM+Plex+Sans+Arabic%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CBarlow+Condensed%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;display=swap&amp;ver=6.2.2" media="all">

    <style>
        :root {
            --primary-color: {{store.colors.primary}};
            --secondary-color: {{store.colors.primary}};
        }

        [x-cloak] { display: none !important; }

        @font-face {
            font-family: "fl-icons";
            font-display: block;
            src: url(https://baronfilou.com/app/themes/flatsome/assets/css/icons/fl-icons.eot?v=3.17.0);
            src:
                url(https://baronfilou.com/app/themes/flatsome/assets/css/icons/fl-icons.eot#iefix?v=3.17.0) format("embedded-opentype"),
                url(https://baronfilou.com/app/themes/flatsome/assets/css/icons/fl-icons.woff2?v=3.17.0) format("woff2"),
                url(https://baronfilou.com/app/themes/flatsome/assets/css/icons/fl-icons.ttf?v=3.17.0) format("truetype"),
                url(https://baronfilou.com/app/themes/flatsome/assets/css/icons/fl-icons.woff?v=3.17.0) format("woff"),
                url(https://baronfilou.com/app/themes/flatsome/assets/css/icons/fl-icons.svg?v=3.17.0#fl-icons) format("svg");
        }

        @font-face {
            font-family: 'zid-font';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: url('{{ asset_url ~ "font-reg.ttf" }}') format('truetype');
        }
        @font-face {
            font-family: 'zid-font';
            font-style: normal;
            font-weight: 700;
            font-display: swap;
            src: url('{{ asset_url ~ "font-bold.ttf" }}') format('truetype');
        }
    </style>

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    {% block top_links %}{% endblock %}
</head>

<body>

    {% set direction = 'ltr' %}
    {% if session.lang.code == 'ar' %}
        {% set direction = 'rtl' %}
    {% endif %}

    <div class="app font-body" dir="{{ direction }}">
        {% block header %}{% endblock %}
        {% block main_content %}{% endblock %}
        {% block footer %}{% endblock %}
    </div>

    {{ zidapi_script|raw }}
    <script type="text/javascript" src="{{ assetUrl('app.js') }}"></script>
    <script>
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
            e.preventDefault();

            document.querySelector(this.getAttribute('href')).scrollIntoView({
                behavior: 'smooth'
            });
        });
    });
    </script>
    {% block footer_scripts %}{% endblock %}
</body>

</html>